<html>
<title>Feedback</title>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css" /> -->
</head>

<style>
    h6    {margin: 0px auto;}
    p    {margin: 0px auto;}
    h2    { margin: auto 10px; display: inline-block;}
</style>

<body>
<div class="feedback_header">
<h2>Feedbacks</h2>
<button name="download_feed_csv">Download Feedback CSV</button>
<button name="download_score_csv">Download Score CSV</button>
<button name="delete_score_csv">Delete Score Dataset</button>
</div>
<hr>
<div class="feedback_list">
</div>

</body>
<script type="text/javascript">

    let feedback_csv_button = document.querySelector("button[name=download_feed_csv]");
    feedback_csv_button.addEventListener('click', function (event) {
        fetchData("/review_feedback/2000", (json) => {
            downloadCSVFile(json);
        });
    });

    let score_csv_button = document.querySelector("button[name=download_score_csv]");
    score_csv_button.addEventListener('click', function (event) {
        fetchData("/rank", (json) => {
            downloadCSVFile(json);
        });
    });

    let delete_score_button = document.querySelector("button[name=delete_score_csv]");
    delete_score_button.addEventListener('click', function (event) {
        var answer = window.confirm("確認要資料刪除嗎");
        if (answer) {
            fetch("/delete_rank");
        }
    });

    function downloadCSVFile(json) {

        if (json.length <= 0) {
            alert("資料不存在");
            return;
        }

        buildData(json).then(function(json_array) {
            let csvContent = "data:text/csv;charset=utf-8," + json_array.map(e => e.join(",")).join("\n");
            var encodedUri = encodeURI(csvContent);
            window.open(encodedUri);
        });
    }

    function fetchData(relative_url, callback) {
        fetch(relative_url).
        then(function(response) {
            return response.json();
        })
        .then(function(myJson) {
            callback(myJson);
        });
    }

    const buildData = data => {

        return new Promise((resolve, reject) => {

        // 最後所有的資料會存在這
        let arrayData = [];

        // 取 data 的第一個 Object 的 key 當表頭
        let arrayTitle = Object.keys(data[0]);
        arrayData.push(arrayTitle);

        // 取出每一個 Object 裡的 value，push 進新的 Array 裡
        Array.prototype.forEach.call(data, d => {
            let items = [];
            Array.prototype.forEach.call(arrayTitle, title => {
            let item = d[title] || '無';
            items.push(item);
            });
            arrayData.push(items)
        })

        resolve(arrayData);
        })
    }


    function render(data) {
        var el = document.querySelector(".feedback_list");
        let html = "";

        for (let i = 0; i < data.length; i++) {
            //console.log(data[i]);
            let date = new Date(data[i].create_date).toLocaleString();
            html += `<h6>${data[i].name}, ${date}</h6>`;
            html += `<p>${data[i].feedback}</p>`;
            html += `</br>`;
        }
        el.innerHTML = (html);
    }

    fetchData("/review_feedback/30", (json) => {
        render(json);        
    });
</script>
</html>
